:root {
  --primary-color: rgb(211, 38, 48);
  --secondary-color: rgb(0, 0, 0);
  --terciary-color: rgb(255, 255, 255);
  --bg-color: rgb(39, 39, 39);
  --nav-bg_mobile: rgb(0, 0, 0, 0.7);
}

*, 
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--bg-color);
  /* bottom: 50px; */
}

body  {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 16px;
  line-height: 1.6;
}

.bg-image {
background-image: url('../img/cover/background2.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh; 
width: 100%;
position: relative;
bottom: 50px;
z-index: 1; 
}

/* Navigation */
header {
  background: none;
  position: relative;
  /* top: 50px; */
  /* left: 0; */
  width: 100%;
  z-index: 1000;
  margin: 0 auto;
}

.navbar {
  background: none;
  /* background-color: rgba(35, 34, 34, 0.3); */
  position: relative; 
  display: flex;
  justify-content: flex-end;
  max-width: 1700px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  z-index: 1;
}

.nav-menu {
  background-color: transparent;
}

.nav-links {
  background-color: transparent;
  list-style: none;
  display: flex; 
  align-items: center; 
}

.nav-item {
  background-color: transparent;
  margin-right: 10px;
}

.nav-link {
  background-color: transparent;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  display: block; 
}

.nav-link:hover {
  color: var(--secondary-color); 
}

.menu-icon {
  background-color: transparent;
  display: none;
  font-size: 30px; 
  color: var(--primary-color); 
  cursor: pointer;
  margin-right: 10px;
}

.menu-icon:hover {
  color: var(--secondary-color); 
}

/* Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--terciary-color);
  padding-top: 2rem;
}

/* About */
.about-content {
  text-align: center; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}
.about-text {
  margin-bottom: 3rem; 
  font-size: 24px;
  font-style: italic;
}

.band-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 10px 0;
}

.band-member-card {
  background-color: var(--terciary-color); 
  width: 100%;
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); 
  transition: transform 0.3s ease; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-member-card img {
  width: 100%; 
  min-height: 500px;
  object-fit: cover;
  /* height: auto;  */
}

.band-member-card h3, .band-member-card p {
  margin: 10px; 
  color: var(--secondary-color);
  text-align: center;
}

.band-member-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
}

/* Responsive Design */
@media (max-width: 768px) {
  .band-members {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .band-members {
    grid-template-columns: 1fr; 
  }
}


/* Gallery */
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 34px;
  font-style: italic;
}

.gallery .main-photo img {
  width: 80%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.item-photos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.item-photos .gallery-item {
  max-width: 200px; 
  max-height: 250px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.item-photos .gallery-item:hover {
  transform: scale(1.1);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  padding: 3rem;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
  padding: 3rem;
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
}

input, textarea {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

button[type="submit"] {
  width: 20%;
  padding: 10px 30px;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  font-size: 1rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255, 0.4);
  /* color: var(--secondary-color); */
}


/* Responsive */
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
  }
}

/* LOGO */
.logo-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  width: 30%;
}

/* Footer */
footer {
  background-color: var(--nav-bg_mobile);
  color: var(--terciary-color);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* Responsive */
@media screen and (max-width: 950px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
  }

  .nav-link:hover {
    color: var(--terciary-color); 
  }

  .nav-links.hide {
    display: none;
  }

  .bg-image, .bg-image::after {
    height: 50vh; 
  }

  body {
    font-size: 14px; 
  }

  section {
    padding: 0 10px; 
  }
}
    













