:root {
  --primary-color: rgb(251, 1, 13);
  --secondary-color: rgb(0, 0, 0);
  --terciary-color: rgb(255, 255, 255);
  --bg-color: rgb(39, 39, 39);
  --nav-bg_mobile: rgb(0, 0, 0, 0.7);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--bg-color);
  height: 100vh;
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;
  overflow-y: auto;
}

/* Navigation */
header {
  background: none;
  background: rgba(32, 32, 32, 0.4);
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0 auto;
}

.navbar {
  background: none;
  /* background-color: rgba(32, 32, 32, 0.4); */
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1700px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  z-index: 1;
}

.nav-menu {
  background-color: transparent;
}

.nav-links {
  background-color: transparent;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  background-color: transparent;
  margin-right: 10px;
}

.nav-link {
  background-color: transparent;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.menu-icon {
  background-color: transparent;
  display: none;
  font-size: 30px;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: 10px;
}

.menu-icon:hover {
  color: var(--secondary-color);
}

/* Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--terciary-color);
}

section#home {
  background-image: url('../img/cover/IMG_9417.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.p {
  text-shadow: 0 4px 8px rgba(0, 0, 0);
}

.home-logo {
  width: 55%;
  position: relative;
  top: 250px;
  right: 22%;
}

#contact,
#gallery {
  padding-top: 8rem;
}

/* About */
.about-content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-text {
  margin-bottom: 3rem;
  font-size: 24px;
  font-style: italic;
}

.band-members {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.band-member-card {
  background-color: var(--terciary-color);
  width: 100%;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-member-card h3,
.band-member-card p {
  margin: 10px;
  color: var(--secondary-color);
  text-align: center;
}

.band-member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.band-member-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/* Gallery */
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 34px;
  font-style: italic;
}

.gallery .main-photo img {
  width: 80%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.item-photos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.item-photos .gallery-item {
  max-width: 200px;
  max-height: 250px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.item-photos .gallery-item:hover {
  transform: scale(1.1);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
  padding: 3rem;
  background-color: rgb(26, 26, 26);
  border-radius: 10px;
}

input,
textarea {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

button[type="submit"] {
  width: 20%;
  padding: 10px 30px;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: var(--terciary-color);
  font-size: 1rem;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255, 0.4);
  /* color: var(--secondary-color); */
}

/* LOGO */
.logo-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.logo {
  width: 30%;
}

/* Footer */
footer {
  background-color: #191818;
  color: var(--terciary-color);
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 950px) {
  body {
    overflow: hidden;
    overflow-y: auto;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    flex-direction: column;
    background: rgb(30, 30, 30);
    padding: 2rem;
    font-size: 20px;
  }

  .nav-link {
    color: var(--terciary-color);
  }

  .nav-link:hover {
    color: var(--primary-color);
  }

  .nav-links.hide {
    display: none;
  }

  .bg-image,
  .bg-image::after {
    height: 50vh;
  }

  body {
    font-size: 14px;
  }

  section {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {

.band-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .band-member-card {
    width: 60%;
    margin: 10px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }

  .form-wrap {
    width: 80%;
  }

  button[type="submit"] {
    width: 40%;
  }

  .logo {
    width: 50%;
  }

  .home-logo {
    width: 80%;
    position: relative;
    top: 150px;
    right: 10%;
  }


  body {
    font-size: 14px;
  }

}
