@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Rosarivo:ital@0;1&display=swap');

.about-content {
  text-align: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

h3 {
  font-size: 2.1rem;
  font-family: 'Dancing Script', serif;
  color: var(--primary-color);
}

.logo-variation {
  font-family: 'Dancing Script', serif;
  font-size: 2rem;
}

.band-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  width: 100%;
  padding: 20px;
}

.about-member {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: start;
}

.img-member-container {
  position: relative;
  width: 450px; 
  padding-top: 450px; 
  height: auto;
  overflow: hidden; 
  border-radius: 10px; 
}

.img-member-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 90%;
}

.member-name {
  display: flex;
  justify-content: center;
  width: 100%;
}
