@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Rosarivo:ital@0;1&display=swap');

.about-content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Dancing Script', serif;
}

.logo-variation {
  font-family: 'Dancing Script', serif;
  font-size: 2rem;
}

.band-members {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px 0;
}

.band-member-card {
  background-color: var(--terciary-color);
  width: 100%;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-member-card h3,
.band-member-card p {
  margin: 6px;
  color: var(--secondary-color);
  text-align: center;
}

.band-member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.band-member-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  object-fit: contain;
}