#contact {
  display: flex;
  gap: 1rem;
} 

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.phone-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.phone {
  font-size: 1.5rem;
}

.email-wrap a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.fas {
  padding: 20px;
  font-size: 35px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--terciary-color);
}

.social-icons {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fab {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--terciary-color);
}

.fab:hover {
  opacity: 0.7;
  color: var(--primary-color);
}

.logo-wrap {
  width: 40%;
  align-items: center;
  margin-top: 2rem;
}

.logo {
  width: 90%;
  margin: 0 auto; 
}

@media screen and (max-width: 768px) {
  .contact-content {
    padding: 1rem;
  }

  .email-wrap {
    flex-direction: column;
    gap: 1rem;
  }

  .logo-wrap {
    width: 80%;
  }

  .logo {
    width: 100%;
  }

  /* Responsive CSS for mobile devices */
  #contact {
    flex-direction: column;
  }

  .phone-wrap {
    flex-direction: column;
    gap: 1rem;
  }

  .social-icons {
    width: 100%;
    justify-content: center;
  }

  .fab {
    font-size: 30px;
    padding: 10px;
  }
}