.gallery .main-photo-container img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.preview-slider {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  max-width: 800px;
}

.preview-slider::-webkit-scrollbar {
  display: none;
}

.preview-photo {
  min-width: 150px; 
  margin: 0 5px; 
  cursor: pointer;
  border-radius: 4px;
  object-fit: cover;
  -o-object-fit: cover;
}

.slide-arrow {
  cursor: pointer;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0 10px;
}

.modal-arrow_p,
.modal-arrow_n {
  cursor: pointer;
  background: #ddd;
  position: fixed;
  border: none;
  padding: 20px;
  margin: 0 20px;
}

.modal-arrow_p {
  left: 0;
  transform: translateY(-50%);
}

.modal-arrow_n {
  right: 0;
  transform: translateY(-50%);
}


/* Styl pro modální okno */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomed {
  transform: scale(2); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* POSTER */
.poster {
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .preview-photo {
    min-width: 100px;
  }

  .preview-slider {
    max-width: 500px;
  }

  .poster {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .preview-photo {
    min-width: 80px;
  }

  .preview-slider {
    max-width: 300px;
  }

}

