:root {
  --primary-color: #ff1024;
  --secondary-color: #000000;
  --terciary-color: #ffffff;
  --bg-color: #1e1e1f;
  /* --bg-color: #1E1E1E; */
  --nav-bg_mobile: rgb(0, 0, 0, 0.7);
  --nav-text_color: #e80215;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--bg-color);
  height: 100vh;
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Sections */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--terciary-color);
  padding-bottom: 3rem;
}

.p {
  text-shadow: 0 4px 8px rgba(0, 0, 0);
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 48px;
  font-weight: 500;
}

span {
  color: var(--primary-color)
}
