header {
  background: none;
  background: #131313f0;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin: 0 auto;
}

.navbar {
  background: none;
  background-color: rgba(19, 19, 19, 0.1);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1700px;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.nav-menu {
  background-color: transparent;
}

.nav-links {
  background-color: transparent;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  background-color: transparent;
  margin-right: 10px;
}

.nav-link {
  background-color: transparent;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--terciary-color);
}

.menu-icon {
  background-color: transparent;
  display: none;
  font-size: 30px;
  color: var(--primary-color);
  cursor: pointer;
  padding-left: 1rem;
}

.menu-icon.active {
  color: var(--primary-color);
}

.nav-other-sections { 
  background-color: #131313f0;
 }

.nav-other-sections .nav-link {
  color: var(--primary-color);
}

.nav-other-sections .nav-link:hover {
  color: #fff !important; 
}