@media screen and (max-width: 1024px) {
  button[type="submit"] {
    width: 40%;
  }

  .about-member {
    flex-direction: column;
    align-items: center; 
  }

  .img-member-container {
    order: 1;
    margin: 0 auto;
  }

  .member-info {
    order: 2;
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow: hidden;
    overflow-y: auto;
    font-size: 14px;
  }

  .menu-icon {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    background: #191818f0;
    padding: 2rem;
    font-size: 20px;
  }

  .nav-link {
    color: var(--terciary-color);
  }

  .nav-link:hover {
    color: var(--primary-color);
  }

  .nav-links.hide {
    display: none;
  }

  .bg-image,
  .bg-image::after {
    height: 50vh;
  }

  section {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .about-member {
    flex-direction: column;
    width: 100%;
  }

  .band-members {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4rem; 
  }

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
  }

  .logo-variation {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 425px) {
  .about-content {
    width: 100%;
  }

  .band-members {
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 2rem; 
  }

  .about-member-container {
    margin-bottom: 1rem;
    gap: 1rem;
  }

  .img-member-container {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .member-info {
    text-align: center;
    width: 100%;
  }
 
  .img-member-container img {
    position: relative;
  }

  .logo-variation {
    font-size: 1.3rem;
  }

  body {
    font-size: 12px;
  }

}

@media screen and (max-width: 375px) {
  .band-members {
    gap: 1.5rem;
  }

  .about-member-container {
    margin-bottom: 0.5rem;
  }

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
  }

  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .band-members {
    gap: 1rem;
  }

  .about-member-container {
    margin-bottom: 0.25rem;
  }

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
  }

  .logo-variation {
    font-size: 1rem;
  }

  body {
    font-size: 12px;
  }
}