@media screen and (max-width: 1024px){
  button[type="submit"] {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow: hidden;
    overflow-y: auto;
  }

  .menu-icon {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    background: #191818f0;;
    padding: 2rem;
    font-size: 20px;
  }

  .nav-link {
    color: var(--terciary-color);
  }

  .nav-link:hover {
    color: var(--primary-color);
  }

  .nav-links.hide {
    display: none;
  }

  .bg-image,
  .bg-image::after {
    height: 50vh;
  }

  body {
    font-size: 14px;
  }

  section {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .logo-variation {
    font-size: 1.8rem;
  }

  .band-members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-member{
    display: flex;
    flex-direction: column;
  }


  .member-info {
    order: 2;
  }

  .img-member-container {
    order: 1;
  }

  .home-logo {
    width: 80%;
    position: relative;
    top: 150px;
    right: 10%;
  }

  body {
    font-size: 14px;
  }

}

@media screen and (max-width: 425px) {
  .about-content {
    width: 90%;
  }

  .band-members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-member {
    display: flex;
    flex-direction: column;
  }


  .member-info {
    order: 2;
  }

  .img-member-container {
    order: 1;
  }

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
    right: 0;
  }

  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  /* .band-member-card {
    width: 50%;
  } */

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
    right: 0;
  }

  body {
    font-size: 12px;
  }
  
}

@media screen and (max-width: 320px){

  .band-member-card {
    width: 100%;
  }

  .home-logo {
    width: 100%;
    position: relative;
    top: 150px;
    right: 0;
  }

  body {
    font-size: 12px;
  }
  
}
